
<div class="div-loader">
  <ul class="loader">
    <li class="loader-elem loader-elem-animate"></li>
    <li class="loader-elem loader-elem-animate"></li>
    <li class="loader-elem loader-elem-animate"></li>
  </ul>
</div>